# Scripts for code execution
/*.pl
/*.sh

# Dummy output
/*.txt

# Except the main script and the analyzer
!assignment.pl
!analyzer.pl

# Except the cleaner also
!log-cleaner.sh

# Do not store generated netwoks
nets/

# Do not store log and output dirs
log*/
out*/