# Scripts for code execution
/*.pl
/*.sh

# Dummy output
/*.txt

# Except the main script and the analyzer
!assignment.pl
!analyzer.pl

# Except the cleaner also
!log-cleaner.sh

# Do not store generated networks
# except some GML files and scripts used to generate LFR networks
nets/*
!nets/*.gml
!nets/*.sh
!nets/*flags*.dat

# Do not store log and output dirs
log*/
out*/